# Umum
node_modules
dist
build
bin/
coverage
*.log
*.test.js
*.spec.js
.vite
.next
.expo
.expo-shared

# IDE & Editor
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Git & Env
.git
.gitignore
.env
.env.local
.env.*.local